.main-comp{
  background-color: #dbf3ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.heading-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  font-family: 'Courier New', Courier, monospace;
  font-size:30px;
  color: #12506e;
  /* color: #09405a; */
}
.logo{
  height: 30px;
}
.form-el{
  display: flex;
  flex-direction: column;
  
  
}
.input-divs{
  display: flex;
  flex-direction: column;
}
.task-el{
  background-color: transparent;
  border: 1px solid #084047;
  padding: 8px;
  border-radius: 4px;
  color: #4e5f61;
  margin-bottom: 15px;
  font-size: medium;
  cursor: pointer;
}
.priority-el{
  background-color: transparent;
  border: 1px solid #084047;
  padding: 8px;
  border-radius: 4px;
  color: #4e5f61;
  margin-bottom: 15px;
  font-size: medium;
  cursor: pointer;
}
.add-btn{
  background-color: #084047;
  border: 1px solid #084047;
  padding: 8px;
  border-radius: 4px;
  color: #cbe9ed;
  margin-top: 10px;
  width: 30%;
  cursor: pointer;
}
label{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #084047;
  font-weight: 900;
  margin: 5px;
}
.add-btn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}









@media (min-height: 730px){
  .main-comp{
    background-color: #dbf3ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
  }
  
  
  .heading-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading{
    font-family: 'Courier New', Courier, monospace;
    font-size:50px;
    color: #12506e;
    /* color: #09405a; */
  }
  .logo{
    height: 60px;
  }
  .form-el{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    
  }
  .task-el{
    background-color: transparent;
    border: 1px solid #084047;
    padding: 8px;
    border-radius: 4px;
    color: #4e5f61;
    margin-bottom: 12px;
    width: 350px;
  }
  .priority-el{
    background-color: transparent;
    border: 1px solid #084047;
    padding: 8px;
    border-radius: 4px;
    color: #4e5f61;
    margin-bottom: 12px;
    width: 200px;
  }
  .add-btn{
    background-color: #084047;
    border: 1px solid #084047;
    padding: 8px;
    border-radius: 4px;
    color: #cbe9ed;
    width: 100px;
    height: 40px;
    font-size: medium;
  }
  label{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #084047;
    font-weight: 900;
    margin: 5px;
  }
  
}