.main-comp{
  background-color: #dbf3ff;
  
  display: flex;
  flex-direction: column;
  
  padding: 10px;
}


.heading-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading{
  font-family: 'Courier New', Courier, monospace;
  font-size:30px;
  color: #12506e;
  /* color: #09405a; */
}
.logo{
  height: 30px;
}
.form-el{
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 80%;
}
.input-divs{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.task-el{
  background-color: transparent;
  border: 1px solid #084047;
  padding: 6px;
  border-radius: 4px;
  color: #4e5f61;
  margin-bottom: 15px;
  font-size: small;
  cursor: pointer;
  outline: none;
  width: 100%
}
.task-el:focus{
  box-shadow: 0px 0px 5px 0px #a9bdc0;
}
.priority-el{
  background-color: transparent;
  border: 1px solid #084047;
  padding: 6px;
  border-radius: 4px;
  color: #4e5f61;
  margin-bottom: 15px;
  font-size: small;
  cursor: pointer;
  outline: none;
  width: 150px;
}
.priority-el:focus{
  box-shadow: 0px 0px 3px 0px #889ea1;
}
.add-btn{
  background-color: #084047;
  border: 1px solid #084047;
  padding: 8px;
  border-radius: 4px;
  color: #cbe9ed;
  margin-top: 10px;
  width: 30%;
  cursor: pointer;
}
label{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #084047;
  font-weight: 900;
  margin: 5px;
}
.add-btn:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.tasks-list-heading-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tasks-list-heading{
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
  color: #12506e;
}
.tasks-list-modifying-elements-cont{
  display: flex;
  width: 100%;

}
.form-2{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}
.sort-tasks-cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 12px;
  
}
.sort-label{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #084047;
  font-weight: 700;
 
}

.sort-el{
  background-color: transparent;
  border: 1px solid #084047;
  padding: 8px;
  border-radius: 4px;
  color: #4e5f61;
  margin-bottom: 15px;
  font-size: small;
  cursor: pointer;
  outline: none;
  width: 100px;
}
.sort-el:focus{
  box-shadow: 0px 0px 3px 0px #889ea1;
}
.form-3-filter-tasks-small {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.filter-heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  color: #084047;
  font-weight: 700;
 
}
.filter-labels{
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
  color: #084047;
  font-weight: 900;
}
.search-cont{
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: 1px solid #084047;
  border-radius: 3px;
  padding: 5px;
  
  

}
.search-bar{
  background-color: transparent;
  border: none;
  font-size: small;
  outline: none;
  color: #4e5f61;
}
.search-icon{
  position: absolute;
  top:8px;
  right: 5px;

}
.search-icon:hover{
  cursor: pointer;
}
.search-cont:focus-within{
  box-shadow: 0px 0px 5px 0px #a9bdc0;
}
.tasks-and-filter-cont{
  width: 90%;
  display: flex;
  flex-direction: row;
  
  margin-top: 15px;


}
.tasks-list-cont{
  width: 100%;
}
.each-task-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f9fb;
  padding: 10px;
  width: 100%;
}
.form-3-filter-tasks-md{
  width: 20%;
  display: none;
}
.radio-inputs{
  outline: none;
  cursor: pointer;
}











@media (min-height: 730px){
  .main-comp{
    background-color: #dbf3ff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .heading-cont{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .heading{
    font-family: 'Courier New', Courier, monospace;
    font-size:50px;
    color: #12506e;
    /* color: #09405a; */
  }
  .logo{
    height: 60px;
  }
  .form-el{
    display: flex;
    flex-direction: row;
    
    width: 90%;
    justify-content: space-between;
    align-items: center;
    
  }
  .input-divs{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .task-el{
    background-color: transparent;
    border: 1px solid #084047;
    padding: 8px;
    border-radius: 4px;
    color: #4e5f61;
    
    width: 350px;
    font-size: medium;
    outline: none;
  }
  
  .task-el:focus{
    box-shadow: 0px 0px 3px 0px #889ea1;
  }
  .priority-el{
    background-color: transparent;
    border: 1px solid #084047;
    padding: 8px;
    border-radius: 4px;
    color: #4e5f61;
    
    width: 200px;
    font-size: medium;
  }
  .add-btn{
    background-color: #084047;
    border: 1px solid #084047;
    padding: 8px;
    border-radius: 4px;
    color: #cbe9ed;
    width: 100px;
    height: 40px;
    font-size: medium;
    margin: 0px;
    margin-bottom: 12px;
  }
  label{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #084047;
    font-weight: 900;
    
  }
  .tasks-list-heading-cont{
    width: 90%;
    display: flex;
    flex-direction: column;
    
  }
  .tasks-list-heading{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: #12506e;
  }
  .search-cont{
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: transparent;
    border: 1px solid #084047;
    border-radius: 3px;
    padding: 8px;
    width: 250px;
  
  }
  .search-bar{
    background-color: transparent;
    border: none;
    width: 90%;
    font-size: medium;
    color: #4e5f61;
  }
  .search-icon{
    position: absolute;
    top:10px;
    right: 5px;
  }
  .search-icon:hover{
    cursor: pointer;
  }
  .search-cont:focus-within{
    box-shadow: 0px 0px 3px 0px #889ea1;
  }
  .priority-el:focus{
    box-shadow: 0px 0px 3px 0px #889ea1;
  }
  .tasks-and-filter-cont{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
  
  
  }
  .tasks-list-cont{
    width: 85%;
  }
  .each-task-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f9fb;
    padding: 10px;
    margin-right: 15px;
    width: 90%;
  }
  .each-task{
    
  }
  .form-3-filter-tasks-md{
    width: 15%;
    display: inline;
    border: 1px solid #12506e;
    padding: 20px;
    border-radius: 5px;
    height: 150px;
  }
  .form-3-filter-tasks-small {
    display: none;
    flex-direction: row;
    align-items: center;
    width: 90%;
  }
  .sort-label{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #084047;
    font-weight: 700;
   
  }






}